// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin:0;// Ingen kanter i siden af browser
  background-color: #3a3a3a;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
  font-family: adorn-condensed-sans, sans-serif;
  font-style: normal;
  font-weight: 400;
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  font-family: adorn-condensed-sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}
//farvevariabler
$baggrund: #3a3a3a;
$lightgrey: #707070;
$orange: #EC621D;

@font-face {
  font-family: 'ordinary_guy_demoregular';
  src: url('../Fonts/ordinaryguydemo-webfont.woff2') format('woff2'),
  url('../Fonts/ordinaryguydemo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yantramanavlight';
  src: url('../Fonts/yantramanav-light-webfont.woff2') format('woff2'),
  url('../Fonts/yantramanav-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yantramanavmedium';
  src: url('../Fonts/yantramanav-medium-webfont.woff2') format('woff2'),
  url('../Fonts/yantramanav-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'trashhandregular';
  src: url('../Fonts/trashhand-webfont.woff2') format('woff2'),
  url('../Fonts/trashhand-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'amatic_scregular';
  src: url('../Fonts/amaticsc-regular-webfont.woff2') format('woff2'),
  url('../Fonts/amaticsc-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'eraserregular';
  src: url('../Fonts/eraserregular-webfont.woff2') format('woff2'),
  url('../Fonts/eraserregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@mixin gridmobil{
  padding: 0 0 0 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 0;

}

header{
  grid-column: 1/span 6;
  grid-row-start: 1;
  @include gridmobil;
  background-image: linear-gradient(to bottom, $baggrund, rgba(58,58,58,0.2));
  grid-template-rows: repeat(2, 1fr);
}

.Menubar{
  grid-column: 6/span 1;
  grid-row-start: 1;
  margin-top: 40%;
}
.LogoType{
  grid-column: 1/span 4;
  grid-row-start: 1;
  margin-top: 7%;
  margin-left: 10%;
}

.en{
  @include gridmobil;
  grid-template-rows: repeat(9, 60px);
}

.Blog {
  font-size: 20pt;
  color: white;
  grid-column: 3/span 2;
  grid-row-start: 1;
  text-align: center;
  h1{
    font-family: trashhandregular;
  }
}
.blogbaggrund1{
  background-image: url("../images/Blog_chalk.png");
  grid-column: 1/span 6;
  grid-row: 2/span 9;
  background-repeat: no-repeat;
  background-size: 120%;
  z-index: 20;
}
.blogoverskrift1{
  grid-column: 1/span 6;
  grid-row: 3/span 1;
  font-size: 14pt;
  text-align: left;
  margin-left: 25%;
  z-index: 20;
  h1{
    font-family: amatic_scregular;
    color: $orange;
  }
}
.blogdato1{
  font-family: Yantramanavlight;
  color: $orange;
  grid-column: 2/span 5;
  grid-row: 3/span 1;
  margin-top: 25%;
  margin-left: 10%;
  z-index: 20;
}
.blogforfatter1{
  font-family: Yantramanavlight;
  color: $orange;
  grid-column: 2/span 5;
  grid-row: 4/span 1;
  margin-top: 12%;
  margin-left: 10%;
  z-index: 20;
}

.artikelbillede1{
  grid-column: 2/span 5;
  grid-row: 5/span 3;
  z-index: 20;

  img {
    width: 90%;
    height: auto;

  }
}

.blogindlæg1{
  grid-column: 2/span 5;
  grid-row: 8/span 3;
  line-height: 15pt;
  font-size: 14pt;
  text-align: left;
  margin-right: 7%;
  z-index: 20;
  font-family: Yantramanavlight;
}
.læsmere{
  grid-column: 5/span 2;
  grid-row: 9/span 1;
  margin-top: -1%;
  z-index: 20;
  a{
    text-decoration: none;
    color: $orange;
    font-size: 14pt;
  }
}

.to{
  @include gridmobil;
  grid-template-rows: repeat(20, 50px);
  background-repeat: no-repeat;
}
.fuldstreg1{
  display: none;
}
.fuldstreg2{
  display: none;
}
.streg1{
  display: none;
}
.streg2{
  display: none;
}

.heleindlæg1{
  grid-column: 2/span 5;
  grid-row: 1/span 10;
  font-size: 14pt;
  font-family: Yantramanavlight;
}
.blogbaggrund2{
  background-image: url("../images/Chalk_Long.png");
  grid-column: 1/span 6;
  grid-row: 1/span 20;
  margin-top: -15%;
}
.debatoverskrift{
  grid-column: 2/span 5;
  grid-row: 7/span 4;
  font-size: 20pt;
  color: white;
}

.debatemne{
  grid-column: 1/span 3;
  grid-row: 12/span 1;
  color: white;
}
.debatafsender{
  grid-column: 1/span 3;
  grid-row: 13/span 1;
}
.debatindlæg{
  grid-column: 1/span 3;
  grid-row: 14/span 4;
}
.dinekommentarer{
  grid-column: 1/span 3;
  grid-row: 12/span 4;
}
.dinoverskrift{
  grid-column: 1/span 3;
  grid-row: 12/span 4;
}
.ditnavnalder{
  grid-column: 1/span 3;
  grid-row: 12/span 4;
}
.dinbesked{
  grid-column: 1/span 3;
  grid-row: 12/span 4;
}
.delkommentar{
  grid-column: 1/span 3;
  grid-row: 12/span 4;
}
















.tre{
  @include gridmobil;
  grid-template-rows: repeat(10, 50px);
}



footer{
  @include gridmobil;
  grid-template-rows: repeat(3, 47px);
  background-image: url("../images/footer_background2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.socialemedier{
  grid-column: 2/span 4;
  grid-row-start: 2;
  margin-left: 20%;
}


@media screen and (min-width: 600px) {
  // Alt der ændres i tablet stående fra mobil
  .socialemedier{
    grid-column: 3/span 2;
    grid-row-start: 2;
  }
}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}


@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}