// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
  background-color: #3a3a3a;
  font-family: Macho, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}


@mixin gridmobil{                       
  padding: 0 0 0 0;                     
  display: grid;                        
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;                
}                                       


header{
  @include gridmobil;
  grid-column: 1/span 6;
  grid-row-start: 1;
  @include gridmobil;
  background-image: linear-gradient(to bottom, #3a3a3a , rgba(58,58,58,0.5));
  grid-template-rows: repeat(1, 50px);
}

.Menubar{
  grid-column: 6/span 1;
  grid-row-start: 1;
  margin-top: 40%;
}
.LogoType{
  grid-column: 1/span 4;
  grid-row-start: 1;
  margin-top: 7%;
}


.film{
  @include gridmobil;
  grid-template-rows: repeat(15, 50fr);
  grid-column-gap: 5px;
  #resume, #trailer{
    font-size: 16pt;
    font-weight: lighter;
    text-align: center;
    padding-top: 12%;
    height: 50%;
  }
  #resume{
    grid-column: 2/span 2;
    grid-row: 1/span 1;
    color: #ffffff;
    border-top: 1px #707070 solid;
    border-right: 0.5px #707070 solid;
    margin-right: -3px;
  }
  #trailer{
    grid-column: 4/span 2;
    grid-row: 1/span 1;
    color: #707070;
    border-bottom: 1px #707070 solid;
    border-left: 0.5px #707070 solid;
    margin-left: -3px;
  }
}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}