// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
  background-color: #3a3a3a;
  font-family: Yantramanavlight, sans-serif;
  font-style: normal;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}


@font-face {
  font-family: 'ordinary_guy_demoregular';
  src: url('../Fonts/ordinaryguydemo-webfont.woff2') format('woff2'),
  url('../Fonts/ordinaryguydemo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yantramanavlight';
  src: url('../Fonts/yantramanav-light-webfont.woff2') format('woff2'),
  url('../Fonts/yantramanav-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yantramanavmedium';
  src: url('../Fonts/yantramanav-medium-webfont.woff2') format('woff2'),
  url('../Fonts/yantramanav-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'trashhandregular';
  src: url('../Fonts/trashhand-webfont.woff2') format('woff2'),
  url('../Fonts/trashhand-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'amatic_scregular';
  src: url('../Fonts/amaticsc-regular-webfont.woff2') format('woff2'),
  url('../Fonts/amaticsc-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'eraserregular';
  src: url('../Fonts/eraserregular-webfont.woff2') format('woff2'),
  url('../Fonts/eraserregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin gridmobil{                       
  padding: 0 0 0 0;                     
  display: grid;                        
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
}

@mixin gridweb{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 10px;
}

$blue: #31A7E0;
$dark_grey: #3a3a3a;
$ligt_grey: #707070;
$white: #ffffff;
$yellow: #F8E932;

#display_flaenge_resume, #display_flaenge_trailer, #display_paper_resume, #display_paper_trailer{
  display: none;
}

#mobil_header{
  @include gridmobil;
  grid-column: 1/span 6;
  grid-row-start: 1;
  @include gridmobil;
  background-image: linear-gradient(to bottom, #3a3a3a , rgba(58,58,58,0.5));
  grid-template-rows: repeat(1, 1fr);
  margin: 0 5%;
}

.Menubar{
  grid-column: 6/span 1;
  grid-row-start: 1;
  margin-top: 40%;
}

.LogoType{
  grid-column: 1/span 4;
  grid-row-start: 1;
  margin-top: 7%;
}

.valg{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  height: 45px;
  margin-top: 10%;
  .resume, .trailer {
    width: 45%;
    text-align: center;
    padding-top: 12px;
  }
  .trailer{
    border-bottom: 1px solid $ligt_grey;
    color: $ligt_grey;
  }
  .resume{
    border-top: 1px solid $ligt_grey;
    border-right: 1px solid $ligt_grey;
    color: $white;
  }
}

.film{
  @include gridmobil;
  grid-template-rows: repeat(10, 50px);
  margin-left: 2%;
  .film_billede{
    grid-column: 1/span 6;
    grid-row: 1/span 7;
    width: 90%;
    height: 100%;
    z-index: -2;
    margin-left: 4%;
  }
  .next{
    grid-column: 6/span 1;
    grid-row-start: 4;
    margin-left: 25px;
    color: $ligt_grey;
  }
  .prev{
    grid-column: 1/span 1;
    grid-row-start: 4;
    color: $ligt_grey;
  }
  .tekst_baggrund{
    grid-column: 1/span 6;
    z-index: -1;
    grid-row: 4/Span 8;
    width: 100%;
    margin-top: 30px;
    margin-left: -5px;

  }
  #flaenge_overskrift{
    z-index: 2;
    grid-column: 2/span 4;
    grid-row: 5/span 1;
    margin-top: 10%;
    font-size: 14pt;
    color: $blue;
    font-family: ordinary_guy_demoregular, sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;

  }
  .resume_tekst{
    z-index: 2;
    grid-column: 2/span 4;
    grid-row: 6/span 7;
    font-size: 10pt;
    margin-top: -5px;

  }
  .genre{
    font-size: 8pt;
    grid-row: 9/span 1;
    grid-column: 2/span 3;
    margin-top: 30px;
    font-family: yantramanavmedium, sans-serif;
    .light{
      font-family: Yantramanavlight, sans-serif;
    }
  }
  .spilletid{
    font-size: 8pt;
    grid-row: 9/span 1;
    grid-column: 5/span 2;
    margin-top: 30px;
    margin-left: -20px;
    font-family: yantramanavmedium, sans-serif;
    .light{
      font-family: Yantramanavlight, sans-serif;
    }
  }
  .rating{
    font-size: 8pt;
    grid-row: 10/span 1;
    grid-column: 2/span 4;
    margin-top: 30px;
    font-family: yantramanavmedium, sans-serif;
    .light{
      font-family: Yantramanavlight, sans-serif;
    }
  }

}

footer{
  @include gridmobil;
  grid-template-rows: repeat(3, 45px);
  background-image: url("../images/footer_background2.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -12%;
  .socialemedier{
    grid-column: 2/span 4;
    grid-row-start: 2;
    margin-left: 10%;
    margin-top: 10px;
  }
}








#mobil_trailer{                                                  
  display: none;                                                 
    .resume2, .trailer2 {                                        
      width: 45%;                                                
      text-align: center;                                        
      padding-top: 12px;                                         
    }                                                            
    .resume2{                                                    
      border-bottom: 1px solid $ligt_grey;                       
      color: $ligt_grey;                                         
    }                                                            
    .trailer2{                                                   
      border-top: 1px solid $ligt_grey;                          
      border-left: 1px solid $ligt_grey;                         
      color: $white;                                             
    }                                                            
  .film2{                                                        
    @include gridmobil;                                          
    grid-template-rows: repeat(9, 50px);                         
    .tekst_baggrund2{                                            
      grid-column: 1/span 6;                                     
      grid-row-start: 1;                                         
      margin-top: 5%;                                            
      margin-left: -2%;                                          
    }                                                            
    #h1_2{                                                       
      grid-column: 2/span 4;                                     
      grid-row-start: 2;                                         
      margin-top: 5px;                                           
      z-index: 2;                                                
      font-size: 14pt;                                           
      color: $blue;                                              
      font-family: ordinary_guy_demoregular, sans-serif;         
      font-weight: 400;                                          
      letter-spacing: 1.5px;                                     
    }                                                            
    iframe{                                                      
      grid-column: 2/span 4;                                     
      grid-row-start: 3;                                         
      margin-left: -2%;                                          
      margin-top: -10px;                                         
    }                                                            
    .genre{                                                      
      z-index: 2;                                                
      font-size: 8pt;                                            
      grid-row: 6/span 1;                                        
      grid-column: 2/span 3;                                     
      font-family: yantramanavmedium, sans-serif;                
      .light{                                                    
        font-family: Yantramanavlight, sans-serif;               
      }                                                          
    }                                                            
    .spilletid{                                                  
      z-index: 2;                                                
      font-size: 8pt;                                            
      grid-row: 6/span 1;                                        
      grid-column: 5/span 2;                                     
      margin-left: -20px;                                        
      font-family: yantramanavmedium, sans-serif;                
      .light{                                                    
        font-family: Yantramanavlight, sans-serif;               
      }                                                          
    }                                                            
    .rating{                                                     
      z-index: 2;                                                
      font-size: 8pt;                                            
      grid-row: 7/span 1;                                        
      grid-column: 2/span 4;                                     
      font-family: yantramanavmedium, sans-serif;                
      .light{                                                    
        font-family: Yantramanavlight, sans-serif;               
      }                                                          
    }                                                            
                                                                 
    .CTA{                                                        
      font-size: 18pt;                                           
      color: $blue;                                              
      font-family: ordinary_guy_demoregular, sans-serif;         
      font-weight: 400;                                          
      letter-spacing: 1.5px;                                     
      grid-column: 2/span 4;                                     
      grid-row-start: 8;                                         
      z-index: 2;                                                
      text-align: center;                                        
    }                                                            
    .flex{
      display: flex;                                             
      display: -webkit-flex;                                     
      justify-content: space-around;                             
      grid-row-start: 9;                                         
      grid-column: 2/span 4;                                     
      z-index: 2;                                                
      .viaplay, .hbo, .netflix{
        height: 40px;                                            
        width: auto;                                             
      }                                                          
    }                                                            
  }                                                              
                                                                 
  footer{                                                        
    .socialemedier{                                              
      grid-column: 2/span 4;                                     
      grid-row-start: 2;                                         
      margin-left: 17%;                                          
      margin-top: 10px;                                          
    }                                                            
  }                                                              
                                                                 
}







#mobil_paper{
  display: none;
  .paper_valg{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    height: 45px;
    margin-top: 10%;
    .paper_resume, .paper_trailer {
      width: 45%;
      text-align: center;
      padding-top: 12px;
    }
    .paper_trailer{
      border-bottom: 1px solid $ligt_grey;
      color: $ligt_grey;
    }
    .paper_resume{
      border-top: 1px solid $ligt_grey;
      border-right: 1px solid $ligt_grey;
      color: $white;
    }
  }
  .paper_film{
    @include gridmobil;
    grid-template-rows: repeat(12, 50px);
    .paper_tekst_baggrund{
      grid-column: 1/span 6;
      z-index: -1;
      grid-row: 4/Span 8;
      width: 100%;
      margin-top: 30px;
      margin-left: -5px;      
    }
    .film_billede {
      grid-column: 1/span 6;
      grid-row: 1/span 7;
      width: 90%;
      height: 100%;
      z-index: -2;
      margin-left: 4%;
    }
    .paper_prev{
      margin-left: -5px;
    }
    .paper_overskrift {
      z-index: 2;
      grid-column: 2/span 4;
      grid-row: 5/span 1;
      font-size: 18pt;
      margin-top: 10px;
      color: $yellow;
      font-family: amatic_scregular, sans-serif;
      font-weight: 600;
      letter-spacing: 1.5px;
    }
    .paper_resume_tekst {
      z-index: 2;
      grid-column: 2/span 4;
      grid-row: 6/span 7;
      font-size: 10pt;
    }
    .paper_genre {
      font-size: 8pt;
      grid-row: 11/span 1;
      grid-column: 2/span 3;
      margin-top: 15px;
      font-family: yantramanavmedium, sans-serif;
      .light {
        font-family: Yantramanavlight, sans-serif;
      }
    }
    .paper_spilletid {
      font-size: 8pt;
      grid-row: 11/span 1;
      grid-column: 5/span 2;
      margin-top: 15px;
      margin-left: -20px;
      font-family: yantramanavmedium, sans-serif;
      .light {
        font-family: Yantramanavlight, sans-serif;
      }
    }
    .paper_rating {
      font-size: 8pt;
      grid-row: 12/span 1;
      grid-column: 2/span 4;
      margin-top: 30px;
      font-family: yantramanavmedium, sans-serif;
      .light {
        font-family: Yantramanavlight, sans-serif;
      }
    }
  }
  footer {
    grid-template-rows: repeat(3, 60px);
    .socialemedier {
      grid-column: 2/span 4;
      grid-row-start: 2;
      margin-left: 17%;
      margin-top: 20px;
    }
  }
}







#mobil_paper_trailer{
  display: none;
   .paper_valg2{
     display: flex;
     display: -webkit-flex;
     justify-content: center;
     height: 45px;
     margin-top: 10%;
     .paper_resume2, .paper_trailer2 {
       width: 45%;
       text-align: center;
       padding-top: 12px;
     }
     .paper_resume2 {
       border-bottom: 1px solid $ligt_grey;
       color: $ligt_grey;
     }
     .paper_trailer2 {
       border-top: 1px solid $ligt_grey;
       border-left: 1px solid $ligt_grey;
       color: $white;
     }
   }
    .paper_film2{
      @include gridmobil;
      grid-template-rows: repeat(9, 50px);
      .paper_tekst_baggrund2{
        grid-column: 1/span 6;
        grid-row-start: 1;
        margin-top: 5%;
        margin-left: -2%;
      }
      .paper_overskrift {
        grid-column: 2/span 4;
        grid-row-start: 2;
        font-size: 18pt;
        color: $yellow;
        font-family: amatic_scregular, sans-serif;
        font-weight: 600;
        letter-spacing: 1.5px;
        z-index: 5;
      }
      iframe{
        grid-column: 2/span 4;
        grid-row-start: 3;
        margin-top: -5px;
      }
      .paper_genre{
        z-index: 2;
        font-size: 8pt;
        margin-top: 15px;
        grid-row: 6/span 1;
        grid-column: 2/span 3;
        font-family: yantramanavmedium, sans-serif;
        .light{
          font-family: Yantramanavlight, sans-serif;
        }
      }
      .paper_spilletid{
        z-index: 2;
        font-size: 8pt;
        margin-top: 15px;
        grid-row: 6/span 1;
        grid-column: 5/span 2;
        margin-left: -20px;
        font-family: yantramanavmedium, sans-serif;
        .light{
          font-family: Yantramanavlight, sans-serif;
        }
      }
      .paper_rating{
        z-index: 2;
        font-size: 8pt;
        margin-top: 30px;
        grid-row: 7/span 1;
        grid-column: 2/span 4;
        font-family: yantramanavmedium, sans-serif;
        .light{
          font-family: Yantramanavlight, sans-serif;
        }
      }

      .paper_CTA{
        font-size: 24pt;
        color: $yellow;
        font-family: amatic_scregular, sans-serif;
        font-weight: 600;
        letter-spacing: 1.5px;
        margin-top: 20px;
        grid-column: 2/span 4;
        grid-row-start: 8;
        z-index: 2;
        text-align: center;
      }
      .flex{
        display: flex;
        display: -webkit-flex;
        justify-content: space-around;
        grid-row-start: 9;
        grid-column: 2/span 4;
        margin-top: 25px;
        z-index: 2;
        .viaplay, .hbo, .netflix{
          height: 30px;
          width: auto;
        }
      }
    }

  footer{
    grid-template-rows: repeat(3, 60px);
    margin-top: -40px;
    .socialemedier{
      grid-column: 2/span 4;
      grid-row-start: 2;
      margin-left: 17%;
      margin-top: 20px;
    }
  }

}                                                               











// --------------------------------  Iphone 6/7/8 --------------------------

@media screen and (min-width: 375px) {
  .film{
    .film_billede{
    width: 80%;
    margin-left: 10%;
    }
    .resume_tekst{
      margin-top: 5px;
    }
    .genre{
      grid-row: 9/span 1;
    }
    .spilletid{
      grid-row: 9/span 1;
    }
    .rating{
      grid-row: 10/span 1;
    }
  }

  footer{
    margin-top: -20%;
    .socialemedier{
      grid-column: 2/span 4;
      grid-row-start: 2;
      margin-left: 20%;
      margin-top: 0;
    }
  }

#mobil_trailer{
  .film2{
    .tekst_baggrund2{
      grid-column: 1/span 6;
      grid-row-start: 1;
      margin-top: 5%;
      margin-left: -2%;
    }
  }

  footer{
    margin-top: 0;
    .socialemedier{
      grid-column: 2/span 4;
      grid-row-start: 2;
      margin-left: 10%;
      margin-top: 0;
    }
  }
}

#mobil_paper{
  .paper_film{
    grid-template-rows: repeat(11, 50px);
    .paper_overskrift{
     margin-top: 10%;
   }
  .paper_resume_tekst{
      margin-top: 5%;
    }
    .paper_next{
     margin-left: 33px;
    }
    .paper_genre {                                                                                         
      grid-row: 10/span 1;
      margin-top: 30px;
    }                                                            
    .paper_spilletid {
      grid-row: 10/span 1;
      margin-top: 30px;
    }                                                            
    .paper_rating {                                                                                       
      grid-row: 11/span 1;
      margin-top: 40px;
    }                                                            
  }
  footer{
    grid-template-rows: repeat(3, 50px);
    margin-top: 30px;
  }
}  


#mobil_paper_trailer{                                              
    .paper_film2 {
      grid-template-rows: repeat(9, 50px);
      .paper_tekst_baggrund2 {
        margin-top: -5px;
        margin-left: 0;
      }
    }
                                                                   
  footer{                                                          
    grid-template-rows: repeat(2, 50px);
    margin-top: 20px;
    .socialemedier{                                                
      grid-column: 2/span 4;                                       
      grid-row-start: 1;
      margin-left: 17%;                                            
      margin-top: 15px;
    }                                                              
  }                                                                
                                                                   
}
}






// --------------------------------  Iphone 6/7/8 plus --------------------------

@media screen and (min-width: 414px) {
  #mobil_trailer {
    .film2 {
      .tekst_baggrund2 {
        margin-top: 0;
      }
    }
    footer {
      grid-template-rows: repeat(3, 50px);
      margin-top: 15px;
      .socialemedier {
        margin-left: 18%;
        margin-top: -5%;
      }
    }
  }

  #mobil_paper {
    .paper_film {
      grid-template-rows: repeat(12, 50px);
      .paper_overskrift {
        margin-top: 3%;
        grid-row: 6/span 1;
        font-size: 20pt;
      }
      .paper_tekst_baggrund {
        grid-row: 4/span 5;
        margin-top: 10%;
      }
      .paper_resume_tekst {
        margin-top: 3%;
        grid-row: 7/span 7;
      }
      .paper_next {
        margin-left: 33px;
      }
      .paper_genre {
        grid-row: 11/span 1;
        margin-top: 30px;
      }
      .paper_spilletid {
        grid-row: 11/span 1;
        margin-top: 30px;
      }
      .paper_rating {
        grid-row: 12/span 1;
        margin-top: 50px;
      }
    }
    footer {
      grid-template-rows: repeat(3, 58px);
      margin-top: 30px;
    }
  }

  #mobil_paper_trailer {
    .paper_film2 {
      grid-template-rows: repeat(9, 50px);
      .paper_tekst_baggrund2 {
        margin-top: -5px;
        margin-left: 0;
      }
    }

    footer {
      grid-template-rows: repeat(3, 45px);
      margin-top: 20px;
      .socialemedier {
        grid-row-start: 2;
        margin-top: 0;
      }
    }
  }
}




// -------------------------------------  Iphone x -------------------------------

@media screen and (min-height: 812px) {
  .valg {
    margin-top: 13%;
  }

  .film {
    .film_billede {
      grid-row: 1/span 8;
      margin-top: 3.5%;
    }
    .tekst_baggrund {
      grid-row: 5/Span 8;
      margin-top: 15px;
      margin-left: -5px;

    }
    #flaenge_overskrift {
      grid-row: 6/span 1;
    }
    .resume_tekst {
      grid-row: 7/span 4;
      margin-top: 5px;

    }
    .genre {
      grid-row: 10/span 1;
      margin-top: 20px;
    }
    .spilletid {
      grid-row: 10/span 1;
      margin-top: 20px;
    }
    .rating {
      grid-row: 11/span 1;
      margin-top: 20px;
    }
  }

  footer {
    margin-top: -14%;
    .socialemedier {
      margin-left: 18%;
      margin-top: -5%;
    }
  }

  #mobil_trailer {
    .film2 {
      grid-template-rows: repeat(10, 50px);
      .tekst_baggrund2 {
        margin-top: 10%;
      }
      #h1_2 {
        grid-row-start: 3;
      }
      iframe {
        grid-row-start: 4;
      }
      .genre {
        grid-row: 7/span 1;
      }
      .spilletid {
        grid-row: 7/span 1;
      }
      .rating {
        grid-row: 8/span 1;
      }
      .CTA {
        grid-row-start: 9;
      }
      .flex {
        grid-row-start: 10;
        .viaplay, .hbo, .netflix {
          height: 30px;
          width: auto;
        }
      }
    }

    footer {
      margin-top: 12%;
      .socialemedier {
        margin-left: 18%;
        margin-top: -5%;
      }
    }
  }

  #mobil_paper {
    .paper_film {
      grid-template-rows: repeat(12, 50px);
      .paper_overskrift {
        margin-top: 3%;
        grid-row: 6/span 1;
        font-size: 20pt;
      }
      .paper_tekst_baggrund {
        grid-row: 4/span 5;
        margin-top: 10%;
      }
      .paper_resume_tekst {
        margin-top: 3%;
        grid-row: 7/span 7;
      }
      .paper_next {
        margin-left: 33px;
      }
      .paper_genre {
        grid-row: 11/span 1;
        margin-top: 30px;
      }
      .paper_spilletid {
        grid-row: 11/span 1;
        margin-top: 30px;
      }
      .paper_rating {
        grid-row: 12/span 1;
        margin-top: 50px;
      }
    }
    footer {
      grid-template-rows: repeat(3, 40px);
      margin-top: 30px;
    }
  }

  #mobil_paper_trailer {
    .paper_film2 {
      grid-template-rows: repeat(10, 50px);
      .paper_tekst_baggrund2 {
        grid-row-start: 2;
        margin-top: -30px;
      }
      .paper_overskrift {
        grid-column: 2/span 4;
        grid-row-start: 2;
        font-size: 18pt;
        color: $yellow;
        font-family: amatic_scregular, sans-serif;
        font-weight: 600;
        letter-spacing: 1.5px;
        margin-top: 15px;
        z-index: 5;
      }
      iframe {
        margin-top: 5px;
      }
      .paper_genre {
        margin-top: 20px;
      }
      .paper_spilletid {
        margin-top: 20px;
      }
      .paper_rating {
        margin-top: 40px;
      }

      .paper_CTA {
        margin-top: -10px;
        grid-row-start: 9;
      }
      .flex {
        margin-top: 50px;
        z-index: 2;
        .viaplay, .hbo, .netflix {
          height: 30px;
        }
      }
    }

    footer {
      grid-template-rows: repeat(3, 55px);
      margin-top: 25px;
      .socialemedier {
        grid-row-start: 1;
        margin-top: 40px;
      }
    }

  }

}









@media screen and (min-width: 768px) {
   #mobil_flaenge, #mobil_header{
     display: none;
   }
    #display_flaenge_resume{
      display: block;
    }
   #web_flaenge_resume{
     @include gridweb;
     grid-template-rows: repeat(22, 50px);
     .logotype{
       grid-column: 1/span 4;
       grid-row-start: 1;
       margin: 30px 0 0 30px;
     }
     .nav_film_skrift{
       color: $blue;
       font-family: eraserregular, sans-serif;
       font-size: 18pt;
       grid-column: 1/span 2;
       grid-row-start: 5;
       margin-left: 30px;
     }
     .en_flaenge_i_himlen, .paper_town{
       color: $white;
     }
     .light_valg{
       font-weight: 300;
       color: rgba(255, 255, 255, 0.7);
     }
     .en_flaenge_i_himlen{
       grid-row-start: 6;
       grid-column: 2/span 3;
     }
     .paper_town{
       grid-row-start: 7;
       grid-column: 2/span 3;
       margin-top: -10px;
     }
     .kommende_film{
       color: $white;
       font-family: ordinary_guy_demoregular, sans-serif;
       font-size: 18pt;
       grid-column: 1/span 3;
       grid-row-start: 8;
       margin-left: 30px;
     }
     .om_john_green{
       color: $white;
       font-family: amatic_scregular, sans-serif;
       font-size: 18pt;
       grid-column: 1/span 3;
       grid-row-start: 10;
       margin-left: 30px;
     }
     .blog{
       color: $white;
       font-family: trashhandregular, sans-serif;
       font-size: 20pt;
       grid-column: 1/span 2;
       grid-row-start: 12;
       margin-left: 30px;
     }
     .film_overskrift{
       color: $white;                          
       font-family: eraserregular, sans-serif; 
       font-size: 24pt;                        
       grid-column: 5/span 2;                  
       grid-row-start: 4;                      
       margin-top: -20%;                       
     }
     .web_billede{
       grid-column: 5/span 7;
       grid-row-start: 5;
     }
     .valg_web{
       display: flex;                          
       display: -webkit-flex;                  
       justify-content: center;                
       height: 45px;
       margin-top: 10%;
       grid-column: 5/span 7;
       grid-row-start: 8;
       #web_resume, #web_trailer {
         width: 50%;
         text-align: center;                   
         padding-top: 12px;                    
       }                                       
       #web_trailer{
         border-bottom: 1px solid $ligt_grey;  
         color: $ligt_grey;                    
       }                                       
       #web_resume{
         border-top: 1px solid $ligt_grey;     
         border-right: 1px solid $ligt_grey;   
         color: $white;                        
       }
     }
     #web_tekstbaggrund{
       grid-row-start: 10;
       grid-column: 4/span 9;
       width: 100%;
     }
     #flaenge_overskrift_web{
       color: $blue;
       font-family: eraserregular, sans-serif;
       font-size: 16pt;
       margin-top: 10px;
       grid-column: 6/span 5;
       grid-row-start: 11;
       letter-spacing: 1.5px;
     }
     .resume_tekst{
       font-size: 14pt;
       grid-column: 6/span 5;
       grid-row-start: 12;
     }
     .genre{
       grid-column: 6/span 2;
       grid-row-start: 17;
       font-size: 10pt;
       margin-top: 15px;
       font-family: yantramanavmedium, sans-serif;  
       .light{                                      
         font-family: Yantramanavlight, sans-serif; 
       }                                            
     }                                                    
     .spilletid{                                        
       font-size: 10pt;
       grid-row-start: 17;
       grid-column: 10/span 2;
       margin-top: 15px;
       font-family: yantramanavmedium, sans-serif;      
       .light{                                          
         font-family: Yantramanavlight, sans-serif;     
       }                                                
     }                                                  
     .rating{                                           
       font-size: 10pt;
       grid-row-start: 19;
       grid-column: 6/span 3;
       font-family: yantramanavmedium, sans-serif;      
       .light{                                          
         font-family: Yantramanavlight, sans-serif;     
       }                                                
     }                                                  
     .web_prev{
       color: $ligt_grey;
       grid-column: 4/span 1;
       grid-row-start: 6;
       margin-left: 30px;
     }
     .web_next{
       color: $ligt_grey;
       grid-column: 12/span 1;
       grid-row-start: 6;
       margin-left: 10px;
     }

     footer{
       grid-row-start: 22;
       grid-column: 1/span 12;
       .some{
         height: 80px;
         width: auto;
         grid-column: 7/span 3;
       }
     }
   }





  
 #display_paper_resume {
   display: none;
 }
  #web_paper_resume{
    @include gridweb;
    grid-template-rows: repeat(22, 50px);
    .logotype{
      grid-column: 1/span 4;
      grid-row-start: 1;
      margin: 30px 0 0 30px;
    }
    .nav_film_skrift{
      color: $blue;
      font-family: eraserregular, sans-serif;
      font-size: 18pt;
      grid-column: 1/span 2;
      grid-row-start: 5;
      margin-left: 30px;
    }
    .en_flaenge_i_himlen, .paper_town{      
      color: $white;                        
    }                                       
    .light_valg{                            
      font-weight: 300;                     
      color: rgba(255, 255, 255, 0.7);      
    }                                       
    .en_flaenge_i_himlen{                   
      grid-row-start: 6;                    
      grid-column: 2/span 3;                
    }                                       
    .paper_town{                            
      grid-row-start: 7;                    
      grid-column: 2/span 3;                
      margin-top: -10px;                    
    }                                       
    .kommende_film{
      color: $white;
      font-family: ordinary_guy_demoregular, sans-serif;
      font-size: 18pt;
      grid-column: 1/span 3;
      grid-row-start: 8;
      margin-left: 30px;
    }
    .om_john_green{
      color: $white;
      font-family: amatic_scregular, sans-serif;
      font-size: 18pt;
      grid-column: 1/span 3;
      grid-row-start: 10;
      margin-left: 30px;
    }
    .blog{
      color: $white;
      font-family: trashhandregular, sans-serif;
      font-size: 20pt;
      grid-column: 1/span 2;
      grid-row-start: 12;
      margin-left: 30px;
    }
    .film_overskrift{
      color: $white;
      font-family: eraserregular, sans-serif;
      font-size: 24pt;
      grid-column: 5/span 2;
      grid-row-start: 4;
      margin-top: -20%;
    }
    .web_billede{
      grid-column: 5/span 7;
      grid-row-start: 5;
    }
    .valg_web{                                 
      display: flex;                           
      display: -webkit-flex;                   
      justify-content: center;                 
      height: 45px;                            
      margin-top: 10%;                         
      grid-column: 5/span 7;                   
      grid-row-start: 8;                       
      #web_resume_paper, #web_trailer_paper {
        width: 50%;                            
        text-align: center;                    
        padding-top: 12px;                     
      }                                        
      #web_trailer_paper{
        border-bottom: 1px solid $ligt_grey;   
        color: $ligt_grey;                     
      }                                        
      #web_resume_paper{
        border-top: 1px solid $ligt_grey;      
        border-right: 1px solid $ligt_grey;    
        color: $white;                         
      }                                        
    }                                          
    .web_tekstbaggrund{
      grid-row-start: 10;
      grid-column: 4/span 9;
      width: 100%;
    }
    #paper_overskrift_web{
      color: $yellow;
      font-family: amatic_scregular, sans-serif;
      font-size: 24pt;
      grid-column: 6/span 5;
      grid-row-start: 11;
      letter-spacing: 1.5px;
    }
    .resume_tekst{
      font-size: 14pt;
      grid-column: 6/span 5;
      grid-row-start: 12;
    }
    .paper_genre{
      grid-column: 6/span 2;
      grid-row-start: 17;
      font-size: 10pt;
      margin-top: 15px;
      font-family: yantramanavmedium, sans-serif;
      .light{
        font-family: Yantramanavlight, sans-serif;
      }
    }
    .paper_spilletid{
      font-size: 10pt;
      grid-row-start: 17;
      grid-column: 10/span 2;
      margin-top: 15px;
      font-family: yantramanavmedium, sans-serif;
      .light{
        font-family: Yantramanavlight, sans-serif;
      }
    }
    .paper_rating{
      font-size: 10pt;
      grid-row-start: 19;
      grid-column: 6/span 3;
      font-family: yantramanavmedium, sans-serif;
      .light{
        font-family: Yantramanavlight, sans-serif;
      }
    }
    .web_prev_paper{
      color: $ligt_grey;
      grid-column: 4/span 1;
      grid-row-start: 6;
      margin-left: 30px;
    }
    .web_next_paper{
      color: $ligt_grey;
      grid-column: 12/span 1;
      grid-row-start: 6;
      margin-left: 10px;
    }
    footer{
      grid-row-start: 22;
      grid-column: 1/span 12;
      .some{
        height: 80px;
        width: auto;
        grid-column: 7/span 3;
      }
    }
  }







  #display_flaenge_trailer{
    display: none;
  }
  #web_flaenge_trailer {
    display: none; 
    @include gridweb;
    grid-template-rows: repeat(22, 50px);
    .logotype {
      grid-column: 1/span 4;
      grid-row-start: 1;
      margin: 30px 0 0 30px;
    }
    .nav_film_skrift {
      color: $blue;
      font-family: eraserregular, sans-serif;
      font-size: 18pt;
      grid-column: 1/span 2;
      grid-row-start: 5;
      margin-left: 30px;
    }
    .en_flaenge_i_himlen, .paper_town{
      color: $white;
    }
    .light_valg{
      font-weight: 300;
      color: rgba(255, 255, 255, 0.7);
    }
    .en_flaenge_i_himlen{
      grid-row-start: 6;
      grid-column: 2/span 3;
    }
    .paper_town{
      grid-row-start: 7;
      grid-column: 2/span 3;
      margin-top: -10px;
    }
    .kommende_film {
      color: $white;
      font-family: ordinary_guy_demoregular, sans-serif;
      font-size: 18pt;
      grid-column: 1/span 3;
      grid-row-start: 8;
      margin-left: 30px;
    }
    .om_john_green {
      color: $white;
      font-family: amatic_scregular, sans-serif;
      font-size: 18pt;
      grid-column: 1/span 3;
      grid-row-start: 10;
      margin-left: 30px;
    }
    .blog {
      color: $white;
      font-family: trashhandregular, sans-serif;
      font-size: 20pt;
      grid-column: 1/span 2;
      grid-row-start: 12;
      margin-left: 30px;
    }
    .film_overskrift {
      color: $white;
      font-family: eraserregular, sans-serif;
      font-size: 24pt;
      grid-column: 5/span 2;
      grid-row-start: 4;
      margin-top: -20%;
    }
    .web_billede{            
      grid-column: 5/span 7; 
      grid-row-start: 5;     
    }
    .valg_web {
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      height: 45px;
      margin-top: 10%;
      grid-column: 5/span 7;
      grid-row-start: 8;
      #web_resume_flaenge, #web_trailer_flaenge {
        width: 50%;
        text-align: center;
        padding-top: 12px;
      }
      #web_trailer_flaenge {
        border-top: 1px solid $ligt_grey;
        border-left: 1px solid $ligt_grey;
        color: $white;
      }
      #web_resume_flaenge {
        border-bottom: 1px solid $ligt_grey;
        color: $ligt_grey;
      }
    }
    .web_tekstbaggrund{
      grid-column: 4/span 9;
      grid-row-start: 10;
      width: 100%;
    }
    iframe{
      grid-column: 6/span 5;
      grid-row-start: 13;
      margin-top: -15px;
    }
    .flaenge_overskrift_web{
      color: $yellow;                           
      font-family: amatic_scregular, sans-serif;
      font-size: 26pt;
      grid-column: 6/span 5;                    
      grid-row-start: 11;
      margin-top: 15px;
      letter-spacing: 1.5px;
    }
    .flaenge_genre{
      grid-column: 6/span 2;                          
      grid-row-start: 16;
      font-size: 10pt;                                
      margin-top: 15px;                               
      font-family: yantramanavmedium, sans-serif;     
      .light{                                         
        font-family: Yantramanavlight, sans-serif;    
      }                                               
    }                                                 
    .flaenge_spilletid{
      font-size: 10pt;                                
      grid-row-start: 16;
      grid-column: 10/span 2;                         
      margin-top: 15px;                               
      font-family: yantramanavmedium, sans-serif;     
      .light{                                         
        font-family: Yantramanavlight, sans-serif;    
      }                                               
    }                                                 
    .flaenge_rating{
      font-size: 10pt;                                
      grid-row-start: 18;
      grid-column: 6/span 3;                          
      font-family: yantramanavmedium, sans-serif;     
      .light{                                         
        font-family: Yantramanavlight, sans-serif;    
      }                                               
    }                                                 
    footer{
      grid-row-start: 22;
      grid-column: 1/span 12;
      .some{
        height: 80px;
        width: auto;
        grid-column: 7/span 3;
      }
    }
  }








  #display_paper_trailer{
    display: none;
  }
  #web_paper_trailer {
    display: none; 
    @include gridweb;
    grid-template-rows: repeat(22, 50px);
    .logotype {
      grid-column: 1/span 4;
      grid-row-start: 1;
      margin: 30px 0 0 30px;
    }
    .nav_film_skrift {
      color: $blue;
      font-family: eraserregular, sans-serif;
      font-size: 18pt;
      grid-column: 1/span 2;
      grid-row-start: 5;
      margin-left: 30px;
    }
    .en_flaenge_i_himlen, .paper_town{      
      color: $white;                        
    }                                       
    .light_valg{                            
      font-weight: 300;                     
      color: rgba(255, 255, 255, 0.7);      
    }                                       
    .en_flaenge_i_himlen{                   
      grid-row-start: 6;                    
      grid-column: 2/span 3;                
    }                                       
    .paper_town{                            
      grid-row-start: 7;                    
      grid-column: 2/span 3;                
      margin-top: -10px;                    
    }                                       
    .kommende_film {
      color: $white;
      font-family: ordinary_guy_demoregular, sans-serif;
      font-size: 18pt;
      grid-column: 1/span 3;
      grid-row-start: 8;
      margin-left: 30px;
    }
    .om_john_green {
      color: $white;
      font-family: amatic_scregular, sans-serif;
      font-size: 18pt;
      grid-column: 1/span 3;
      grid-row-start: 10;
      margin-left: 30px;
    }
    .blog {
      color: $white;
      font-family: trashhandregular, sans-serif;
      font-size: 20pt;
      grid-column: 1/span 2;
      grid-row-start: 12;
      margin-left: 30px;
    }
    .film_overskrift {
      color: $white;
      font-family: eraserregular, sans-serif;
      font-size: 24pt;
      grid-column: 5/span 2;
      grid-row-start: 4;
      margin-top: -20%;
    }
    .web_billede{
      grid-column: 5/span 7;
      grid-row-start: 5;
    }
    .valg_web {
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      height: 45px;
      margin-top: 10%;
      grid-column: 5/span 7;
      grid-row-start: 8;
      .web_resume_paper, .web_trailer_paper {
        width: 50%;
        text-align: center;
        padding-top: 12px;
      }
      .web_trailer_paper {
        border-top: 1px solid $ligt_grey;
        border-left: 1px solid $ligt_grey;
        color: $white;
      }
      .web_resume_paper {
        border-bottom: 1px solid $ligt_grey;
        color: $ligt_grey;
      }
    }
    .web_tekstbaggrund{
      grid-column: 4/span 9;
      grid-row-start: 10;
      width: 100%;
    }
    iframe{
      grid-column: 6/span 5;
      grid-row-start: 13;
      margin-top: -15px;
    }
    .paper_overskrift_web{
      color: $yellow;
      font-family: amatic_scregular, sans-serif;
      font-size: 24pt;
      grid-column: 6/span 5;
      grid-row-start: 11;
      margin-top: 15px;
      letter-spacing: 1.5px;
    }
    .paper_genre{
      grid-column: 6/span 2;
      grid-row-start: 16;
      font-size: 10pt;
      margin-top: 15px;
      font-family: yantramanavmedium, sans-serif;
      .light{
        font-family: Yantramanavlight, sans-serif;
      }
    }
    .paper_spilletid{
      font-size: 10pt;
      grid-row-start: 16;
      grid-column: 10/span 2;
      margin-top: 15px;
      font-family: yantramanavmedium, sans-serif;
      .light{
        font-family: Yantramanavlight, sans-serif;
      }
    }
    .paper_rating{
      font-size: 10pt;
      grid-row-start: 18;
      grid-column: 6/span 3;
      font-family: yantramanavmedium, sans-serif;
      .light{
        font-family: Yantramanavlight, sans-serif;
      }
    }
    footer{                    
      grid-row-start: 22;      
      grid-column: 1/span 12;  
      .some{                   
        height: 80px;          
        width: auto;           
        grid-column: 7/span 3; 
      }                        
    }                          
  }

}





@media screen and (min-width: 1024px) {
  #web_flaenge_resume {
    @include gridweb;
    grid-template-rows: repeat(21, 65px);
    #flaenge_overskrift_web{
      font-size: 20pt;
    }
    #resume_tekst{
      font-size: 16pt;
    }
    .genre, .spilletid{
      grid-row-start: 15;
      font-size: 14pt;
    }
    .rating{
      grid-row-start: 17;
      font-size: 14pt;
    }
  }


  #web_paper_resume{
    @include gridweb;
    grid-template-rows: repeat(21, 65px);
    #paper_overskrift_web{
      font-size: 24pt;
    }
    #resume_tekst{
      font-size: 16pt;
    }
    .paper_genre, .paper_spilletid{
      grid-row-start: 15;
      font-size: 14pt;
    }
    .paper_rating{
      grid-row-start: 17;
      font-size: 14pt;
    }
  }


  #web_paper_trailer{
    @include gridweb;                    
    grid-template-rows: repeat(21, 65px);
  }

  #web_flaenge_trailer{
    @include gridweb;                    
    grid-template-rows: repeat(21, 65px);
  }
}





@media screen and (min-width: 1280px) {
  #display_flaenge_resume, #display_flaenge_trailer, #display_paper_resume, #display_paper_trailer {
    display: none;
  }
  #web2_flaenge_resume {
    @include gridweb;
    grid-template-rows: repeat(20, 50px);
    .logotype {
      grid-column: 1/span 4;
      grid-row-start: 1;
      margin: 30px 0 0 30px;
    }
    .nav_film_skrift {
      color: $blue;
      font-family: eraserregular, sans-serif;
      font-size: 18pt;
      grid-column: 1/span 2;
      grid-row-start: 5;
      margin-left: 30px;
    }
    .en_flaenge_i_himlen_web, .paper_town_web {
      color: $white;
    }
    .light_valg {
      font-weight: 300;
      color: rgba(255, 255, 255, 0.7);
    }
    .en_flaenge_i_himlen_web {
      grid-row-start: 6;
      grid-column: 2/span 3;
    }
    .paper_town_web {
      grid-row-start: 7;
      grid-column: 2/span 3;
      margin-top: -10px;
    }
    .kommende_film {
      color: $white;
      font-family: ordinary_guy_demoregular, sans-serif;
      font-size: 18pt;
      grid-column: 1/span 3;
      grid-row-start: 8;
      margin-left: 30px;
    }
    .om_john_green {
      color: $white;
      font-family: amatic_scregular, sans-serif;
      font-size: 18pt;
      grid-column: 1/span 3;
      grid-row-start: 10;
      margin-left: 30px;
    }
    .blog {
      color: $white;
      font-family: trashhandregular, sans-serif;
      font-size: 20pt;
      grid-column: 1/span 2;
      grid-row-start: 12;
      margin-left: 30px;
    }
    .film_overskrift {
      color: $white;
      font-family: eraserregular, sans-serif;
      font-size: 24pt;
      grid-column: 5/span 2;
      grid-row-start: 4;
      margin-top: -20%;
    }
    .web_billede {
      grid-column: 5/span 7;
      grid-row-start: 5;
    }
    .web2_resume_flaenge {
      color: $white;
      font-size: 14pt;
      grid-column: 5/span 1;
      grid-row-start: 10;
    }
    .web2_trailer_flaenge {
      color: $white;
      font-size: 14pt;
      grid-column: 9/span 1;
      grid-row-start: 10;
    }
    .web_tekstbaggrund {
      grid-row-start: 10;
      grid-column: 4/span 5;
      width: 100%;
      margin-top: 40px;
    }
    #flaenge_overskrift_web2 {
      color: $blue;
      font-family: amatic_scregular, sans-serif;
      font-size: 20pt;
      grid-column: 5/span 3;
      grid-row-start: 11;
      margin-top: 20px;
      letter-spacing: 1.5px;
    }
    .resume_tekst {
      font-size: 14pt;
      grid-column: 5/span 3;
      grid-row-start: 12;
      margin-top: 10px;
    }
    .flaenge_genre {
      grid-column: 5/span 2;
      grid-row-start: 17;
      font-size: 10pt;
      margin-top: 10px;
      font-family: yantramanavmedium, sans-serif;
      .light {
        font-family: Yantramanavlight, sans-serif;
      }
    }
    .flaenge_spilletid {
      font-size: 10pt;
      grid-row-start: 17;
      grid-column: 7/span 2;
      margin-top: 10px;
      font-family: yantramanavmedium, sans-serif;
      .light {
        font-family: Yantramanavlight, sans-serif;
      }
    }
    .flaenge_rating {
      font-size: 10pt;
      grid-row-start: 19;
      grid-column: 5/span 3;
      margin-top: -5px;
      font-family: yantramanavmedium, sans-serif;
      .light {
        font-family: Yantramanavlight, sans-serif;
      }
    }
    .web_prev_flaenge {
      color: $ligt_grey;
      grid-column: 5/span 1;
      grid-row-start: 7;
      margin-left: -40px;
    }
    .web_next_flaenge {
      color: $ligt_grey;
      grid-column: 12/span 1;
      grid-row-start: 7;
      margin-left: 10px;
    }
    iframe {
      grid-row-start: 11;
      grid-column: 9/span 3;
    }
    .CTA {
      color: $blue;
      font-size: 18pt;
      font-family: ordinary_guy_demoregular, sans-serif;
      grid-column: 10/span 2;
      grid-row-start: 15;
      margin-left: -105px;
      text-align: center;
    }
    .flex {
      display: flex;
      display: -webkit-flex;
      justify-content: space-around;
      grid-column: 9/span 3;
      grid-row-start: 17;
      .viaplay, .netflix, .hbo {
        height: 40px;
        width: auto;
      }
    }
    .baggrund_some_web {
      grid-column: 10/span 3;
      grid-row-start: 19;
      z-index: 1;
    }
    .some_web{
      grid-column: 11/span 2;
      grid-row-start: 20;
      height: 80px;
      width: auto;
      z-index: 2;
      margin-left: -40px;
      margin-top: -10px;
    }
  }




  #display_paper_resume_web{
    display: none;
  }
  #web2_paper_resume {
    @include gridweb;
    grid-template-rows: repeat(20, 50px);
    .logotype {
      grid-column: 1/span 4;
      grid-row-start: 1;
      margin: 30px 0 0 30px;
    }
    .nav_film_skrift {
      color: $blue;
      font-family: eraserregular, sans-serif;
      font-size: 18pt;
      grid-column: 1/span 2;
      grid-row-start: 5;
      margin-left: 30px;
    }
    .en_flaenge_i_himlen_web, .paper_town_web {
      color: $white;
    }
    .light_valg {
      font-weight: 300;
      color: rgba(255, 255, 255, 0.7);
    }
    .en_flaenge_i_himlen_web {
      grid-row-start: 6;
      grid-column: 2/span 3;
    }
    .paper_town_web {
      grid-row-start: 7;
      grid-column: 2/span 3;
      margin-top: -10px;
    }
    .kommende_film {
      color: $white;
      font-family: ordinary_guy_demoregular, sans-serif;
      font-size: 18pt;
      grid-column: 1/span 3;
      grid-row-start: 8;
      margin-left: 30px;
    }
    .om_john_green {
      color: $white;
      font-family: amatic_scregular, sans-serif;
      font-size: 18pt;
      grid-column: 1/span 3;
      grid-row-start: 10;
      margin-left: 30px;
    }
    .blog {
      color: $white;
      font-family: trashhandregular, sans-serif;
      font-size: 20pt;
      grid-column: 1/span 2;
      grid-row-start: 12;
      margin-left: 30px;
    }
    .film_overskrift {
      color: $white;
      font-family: eraserregular, sans-serif;
      font-size: 24pt;
      grid-column: 5/span 2;
      grid-row-start: 4;
      margin-top: -20%;
    }
    .web_billede {
      grid-column: 5/span 7;
      grid-row-start: 5;
    }
    .web2_resume_paper {
      color: $white;
      font-size: 14pt;
      grid-column: 5/span 1;
      grid-row-start: 10;
    }
    .web2_trailer_paper {
      color: $white;
      font-size: 14pt;
      grid-column: 9/span 1;
      grid-row-start: 10;
    }
    .web_tekstbaggrund {
      grid-row-start: 10;
      grid-column: 4/span 5;
      width: 100%;
      margin-top: 40px;
    }
    #paper_overskrift_web2 {
      color: $blue;
      font-family: amatic_scregular, sans-serif;
      font-size: 20pt;
      grid-column: 5/span 3;
      grid-row-start: 11;
      margin-top: 20px;
      letter-spacing: 1.5px;
    }
    .paper_resume_tekst {
      font-size: 12pt;
      grid-column: 5/span 3;
      grid-row-start: 12;
      margin-top: 5px;
    }
    .paper_genre {
      grid-column: 5/span 2;
      grid-row-start: 17;
      font-size: 10pt;
      margin-top: 20px;
      font-family: yantramanavmedium, sans-serif;
      .light {
        font-family: Yantramanavlight, sans-serif;
      }
    }
    .paper_spilletid {
      font-size: 10pt;
      grid-row-start: 17;
      grid-column: 7/span 2;
      margin-top: 20px;
      font-family: yantramanavmedium, sans-serif;
      .light {
        font-family: Yantramanavlight, sans-serif;
      }
    }
    .paper_rating {
      font-size: 10pt;
      grid-row-start: 19;
      grid-column: 5/span 3;
      margin-top: -5px;
      font-family: yantramanavmedium, sans-serif;
      .light {
        font-family: Yantramanavlight, sans-serif;
      }
    }
    .web_prev_paper {
      color: $ligt_grey;
      grid-column: 5/span 1;
      grid-row-start: 7;
      margin-left: -40px;
    }
    .web_next_paper {
      color: $ligt_grey;
      grid-column: 12/span 1;
      grid-row-start: 7;
      margin-left: 10px;
    }
    iframe {
      grid-row-start: 11;
      grid-column: 9/span 3;
    }
    .CTA {
      color: $blue;
      font-size: 18pt;
      font-family: ordinary_guy_demoregular, sans-serif;
      grid-column: 10/span 2;
      grid-row-start: 15;
      margin-left: -105px;
      text-align: center;
    }
    .flex {
      display: flex;
      display: -webkit-flex;
      justify-content: space-around;
      grid-column: 9/span 3;
      grid-row-start: 17;
      .viaplay, .netflix, .hbo {
        height: 40px;
        width: auto;
      }
    }
    .baggrund_some_web {
      grid-column: 10/span 3;
      grid-row-start: 19;
      z-index: 1;
    }
    .some_web{
      grid-column: 11/span 2;
      grid-row-start: 20;
      height: 80px;
      width: auto;
      z-index: 2;
      margin-left: -40px;
      margin-top: -10px;
    }
  }










}



@media screen and (min-width: 1600px) {
  #web2_flaenge_resume {
    @include gridweb;
    grid-template-rows: repeat(20, 60px);
    .en_flaenge_i_himlen_web, .paper_town_web {
      font-size: 14pt;
      margin-left: -5%;
    }
    .kommende_film, .om_john_green {
      margin-left: 15%;
    }
    .nav_film_skrift, .blog {
      margin-left: 24%;
    }
    .web_prev_flaenge {
      margin-left: -25%;
      grid-column: 5/span 1;
    }
    .web2_trailer_flaenge, .web2_resume_flaenge {
      margin-top: 10%;
    }
    .baggrund_some_web {
      grid-column: 11/span 2;
    }
    .some_web{
      margin-left: 15%;
    }
  }


  #web2_paper_resume {
    @include gridweb;
    grid-template-rows: repeat(20, 60px);
    .en_flaenge_i_himlen_web, .paper_town_web {
      font-size: 14pt;
      margin-left: -5%;
    }
    .kommende_film, .om_john_green {
      margin-left: 15%;
    }
    .nav_film_skrift, .blog {
      margin-left: 24%;
    }
    .web_prev_paper {
      margin-left: -25%;
      grid-column: 5/span 1;
    }
    .web2_trailer_paper, .web2_resume_paper {
      margin-top: 10%;
    }
    .baggrund_some_web {
      grid-column: 11/span 2;
    }
    .some_web{
      margin-left: 15%;
    }
  }
}