* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #3a3a3a;
  font-family: Yantramanavlight, sans-serif;
  font-style: normal;
  font-weight: 100; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

@font-face {
  font-family: 'ordinary_guy_demoregular';
  src: url("../Fonts/ordinaryguydemo-webfont.woff2") format("woff2"), url("../Fonts/ordinaryguydemo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'yantramanavlight';
  src: url("../Fonts/yantramanav-light-webfont.woff2") format("woff2"), url("../Fonts/yantramanav-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'yantramanavmedium';
  src: url("../Fonts/yantramanav-medium-webfont.woff2") format("woff2"), url("../Fonts/yantramanav-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'trashhandregular';
  src: url("../Fonts/trashhand-webfont.woff2") format("woff2"), url("../Fonts/trashhand-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'amatic_scregular';
  src: url("../Fonts/amaticsc-regular-webfont.woff2") format("woff2"), url("../Fonts/amaticsc-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'eraserregular';
  src: url("../Fonts/eraserregular-webfont.woff2") format("woff2"), url("../Fonts/eraserregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
header {
  padding: 0 0 0 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-column: 1/span 6;
  grid-row-start: 1;
  padding: 0 0 0 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  background-image: linear-gradient(to bottom, #3a3a3a, rgba(58, 58, 58, 0.5));
  grid-template-rows: repeat(1, 1fr);
  margin: 0 5%; }

.Menubar {
  grid-column: 6/span 1;
  grid-row-start: 1;
  margin-top: 40%; }

.LogoType {
  grid-column: 1/span 4;
  grid-row-start: 1;
  margin-top: 7%; }

#valg {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  height: 45px;
  margin-top: 10%; }
  #valg #resume, #valg #trailer {
    width: 45%;
    text-align: center;
    padding-top: 12px; }
  #valg #trailer {
    border-bottom: 1px solid #707070;
    color: #707070; }
  #valg #resume {
    border-top: 1px solid #707070;
    border-right: 1px solid #707070;
    color: #ffffff; }

.film {
  padding: 0 0 0 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-template-rows: repeat(11, 50px); }
  .film #tekst_baggrund {
    grid-column: 1/span 7;
    z-index: -1;
    grid-row: 5/Span 8;
    width: 100%;
    margin-top: 30px;
    margin-left: -5px; }
  .film h1 {
    color: #31A7E0;
    z-index: 2;
    grid-column: 2/span 4;
    grid-row: 6/span 1;
    font-size: 14pt;
    margin-top: 10%;
    font-family: ordinary_guy_demoregular, sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px; }
  .film #resume_tekst {
    z-index: 2;
    grid-column: 2/span 4;
    grid-row: 7/span 7;
    font-size: 10pt;
    margin-top: -5px; }
  .film #genre {
    font-size: 8pt;
    grid-row: 10/span 1;
    grid-column: 2/span 3;
    margin-top: 30px;
    font-family: yantramanavmedium, sans-serif; }
    .film #genre .light {
      font-family: Yantramanavlight, sans-serif; }
  .film #spilletid {
    font-size: 8pt;
    grid-row: 10/span 1;
    grid-column: 5/span 2;
    margin-top: 30px;
    margin-left: -20px;
    font-family: yantramanavmedium, sans-serif; }
    .film #spilletid .light {
      font-family: Yantramanavlight, sans-serif; }
  .film #rating {
    font-size: 8pt;
    grid-row: 11/span 1;
    grid-column: 2/span 4;
    margin-top: 30px;
    font-family: yantramanavmedium, sans-serif; }
    .film #rating .light {
      font-family: Yantramanavlight, sans-serif; }

footer {
  padding: 0 0 0 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-template-rows: repeat(3, 45px);
  background-image: url("../images/footer_background2.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -12%; }
  footer .socialemedier {
    grid-column: 2/span 4;
    grid-row-start: 2;
    margin-left: 10%;
    margin-top: 10px; }

@media screen and (min-width: 375px) {
  .film {
    grid-template-rows: repeat(15, 50px); }
    .film h1 {
      font-size: 16pt;
      margin-top: 12%; }
    .film #resume_tekst {
      font-size: 12pt;
      margin-top: 10px; }
    .film #genre {
      font-size: 10pt;
      grid-row: 12/span 1;
      margin-top: 0; }
    .film #spilletid {
      font-size: 10pt;
      grid-row: 12/span 1;
      margin-top: 0; }
    .film #rating {
      font-size: 10pt;
      grid-row: 13/span 1;
      margin-top: 15px; }

  footer {
    grid-template-rows: repeat(5, 45px);
    margin-top: -50%; }
    footer .socialemedier {
      grid-column: 2/span 4;
      grid-row-start: 2;
      margin-left: 20%;
      margin-top: 60px; } }

/*# sourceMappingURL=Film.css.map */
